In [17]:
import pandas as pd
from public_data.storages import DataStorage
from openpyxl import load_workbook

In [7]:
pd.DataFrame(pd.read_excel("base-cc-coupl-fam-men-2018-lite.xlsx"))

,CODGEO,LIBGEO,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,01001,L'Abergement-Clémenciat,315.280085,311.933333,307.933333,304.933333,301.933333,298.933333,297.601726,295.601726,294.601726,293.601726,292.601726
1,01002,L'Abergement-de-Varey,109.320988,108.888889,107.888889,106.888889,105.888889,104.888889,101.222222,98.222222,94.222222,90.222222,86.222222
2,01004,Ambérieu-en-Bugey,6534.148675,6451.183954,6369.183954,6286.183954,6204.183954,6121.183954,6003.110022,5884.110022,5765.110022,5646.110022,5527.110022
3,01005,Ambérieux-en-Dombes,714.253648,693.978999,672.978999,652.978999,631.978999,610.978999,605.685644,600.685644,595.685644,590.685644,585.685644
4,01006,Ambléon,56.000000,54.142857,53.142857,52.142857,51.142857,50.142857,50.300000,51.300000,51.300000,52.300000,53.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34943,97420,Sainte-Suzanne,8516.285182,8331.555460,8147.555460,7962.555460,7777.555460,7592.555460,7487.593032,7383.593032,7278.593032,7174.593032,7070.593032
34944,97421,Salazie,2591.582784,2561.621125,2532.621125,2502.621125,2472.621125,2442.621125,2408.216746,2373.216746,2339.216746,2305.216746,2271.216746
34945,97422,Le Tampon,31891.864231,31332.066558,30773.066558,30213.066558,29654.066558,29095.066558,28485.445873,27876.445873,27267.445873,26658.445873,26049.445873
34946,97423,Les Trois-Bassins,2664.087551,2633.428257,2602.428257,2571.428257,2540.428257,2509.428257,2464.749180,2420.749180,2375.749180,2331.749180,2287.749180
34947,97424,Cilaos,2191.235756,2157.894679,2123.894679,2089.894679,2055.894679,2021.894679,2034.985679,2048.985679,2061.985679,2075.985679,2088.985679

In [8]:
pd.DataFrame(pd.read_excel("base-pop-historiques-1876-2019.xlsx"))

,CODGEO,LIBGEO,PMUN19,PMUN18,PMUN17,PMUN16,PMUN15,PMUN14,PMUN13,PMUN12,PMUN11,PMUN10,PMUN09,PMUN08,PMUN07,PMUN06
0,01001,L'Abergement-Clémenciat,779,771,776,767,767,767,767,777,780,784,787,791,804,811
1,01002,L'Abergement-de-Varey,256,253,248,243,241,239,236,235,234,221,207,194,195,198
2,01004,Ambérieu-en-Bugey,14134,14204,14035,14081,14127,14022,14359,14233,13839,13835,13350,12792,12696,12709
3,01005,Ambérieux-en-Dombes,1751,1720,1689,1671,1619,1627,1635,1642,1600,1616,1592,1567,1544,1436
4,01006,Ambléon,112,112,111,110,109,109,108,110,112,116,120,123,125,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34962,97420,Sainte-Suzanne,24065,23718,23505,23224,23068,22406,22209,22388,22574,22421,22437,22411,21856,21714
34963,97421,Salazie,7136,7224,7312,7400,7384,7132,7226,7320,7418,7510,7406,7294,7181,7065
34964,97422,Le Tampon,79824,79385,78629,77283,76310,76796,76090,75631,74998,73365,72658,72026,70539,69849
34965,97423,Les Trois-Bassins,7015,7076,7139,7111,7127,7198,7268,7339,7226,7121,7057,6994,6929,6807
34966,97424,Cilaos,5538,5492,5456,5403,5350,5295,5386,5440,5623,5807,5989,5994,5796,5838

In [16]:
wb = load_workbook(filename="base-pop-historiques-1876-2019.xlsx")
ws = wb.active
for i, row in enumerate(ws.iter_rows(min_row=2, max_col=16, values_only=True)):
    if i > 10:
        break
    print(", ".join(map(str, row)))

01001, L'Abergement-Clémenciat, 779, 771, 776, 767, 767, 767, 767, 777, 780, 784, 787, 791, 804, 811
01002, L'Abergement-de-Varey, 256, 253, 248, 243, 241, 239, 236, 235, 234, 221, 207, 194, 195, 198
01004, Ambérieu-en-Bugey, 14134, 14204, 14035, 14081, 14127, 14022, 14359, 14233, 13839, 13835, 13350, 12792, 12696, 12709
01005, Ambérieux-en-Dombes, 1751, 1720, 1689, 1671, 1619, 1627, 1635, 1642, 1600, 1616, 1592, 1567, 1544, 1436
01006, Ambléon, 112, 112, 111, 110, 109, 109, 108, 110, 112, 116, 120, 123, 125, 120
01007, Ambronay, 2800, 2763, 2726, 2684, 2615, 2570, 2503, 2437, 2365, 2362, 2328, 2296, 2263, 2241
01008, Ambutrix, 762, 755, 752, 750, 747, 743, 744, 739, 734, 729, 660, 657, 649, 641
01009, Andert-et-Condon, 326, 324, 330, 336, 342, 338, 337, 338, 339, 340, 336, 331, 325, 319
01010, Anglefort, 1105, 1113, 1115, 1124, 1133, 1142, 1108, 1069, 1031, 994, 960, 926, 918, 900
01011, Apremont, 368, 373, 376, 383, 390, 397, 394, 385, 374, 363, 352, 339, 333, 333
01012, Aranc, 329, 329, 326, 326, 327, 325, 314, 311, 306, 302, 297, 285, 286, 285

In [18]:
file_stream = DataStorage().open("base-pop-historiques-1876-2019.xlsx")
pd.DataFrame(pd.read_excel(file_stream))

,CODGEO,LIBGEO,PMUN19,PMUN18,PMUN17,PMUN16,PMUN15,PMUN14,PMUN13,PMUN12,PMUN11,PMUN10,PMUN09,PMUN08,PMUN07,PMUN06
0,01001,L'Abergement-Clémenciat,779,771,776,767,767,767,767,777,780,784,787,791,804,811
1,01002,L'Abergement-de-Varey,256,253,248,243,241,239,236,235,234,221,207,194,195,198
2,01004,Ambérieu-en-Bugey,14134,14204,14035,14081,14127,14022,14359,14233,13839,13835,13350,12792,12696,12709
3,01005,Ambérieux-en-Dombes,1751,1720,1689,1671,1619,1627,1635,1642,1600,1616,1592,1567,1544,1436
4,01006,Ambléon,112,112,111,110,109,109,108,110,112,116,120,123,125,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34962,97420,Sainte-Suzanne,24065,23718,23505,23224,23068,22406,22209,22388,22574,22421,22437,22411,21856,21714
34963,97421,Salazie,7136,7224,7312,7400,7384,7132,7226,7320,7418,7510,7406,7294,7181,7065
34964,97422,Le Tampon,79824,79385,78629,77283,76310,76796,76090,75631,74998,73365,72658,72026,70539,69849
34965,97423,Les Trois-Bassins,7015,7076,7139,7111,7127,7198,7268,7339,7226,7121,7057,6994,6929,6807
34966,97424,Cilaos,5538,5492,5456,5403,5350,5295,5386,5440,5623,5807,5989,5994,5796,5838

In [23]:
wb = load_workbook(file_stream)
ws = wb.active
for i, row in enumerate(ws.iter_rows(min_row=1, max_col=16, values_only=True)):
    if i > 10:
        break
    print(", ".join(map(str, row)))

CODGEO, LIBGEO, PMUN19, PMUN18, PMUN17, PMUN16, PMUN15, PMUN14, PMUN13, PMUN12, PMUN11, PMUN10, PMUN09, PMUN08, PMUN07, PMUN06
01001, L'Abergement-Clémenciat, 779, 771, 776, 767, 767, 767, 767, 777, 780, 784, 787, 791, 804, 811
01002, L'Abergement-de-Varey, 256, 253, 248, 243, 241, 239, 236, 235, 234, 221, 207, 194, 195, 198
01004, Ambérieu-en-Bugey, 14134, 14204, 14035, 14081, 14127, 14022, 14359, 14233, 13839, 13835, 13350, 12792, 12696, 12709
01005, Ambérieux-en-Dombes, 1751, 1720, 1689, 1671, 1619, 1627, 1635, 1642, 1600, 1616, 1592, 1567, 1544, 1436
01006, Ambléon, 112, 112, 111, 110, 109, 109, 108, 110, 112, 116, 120, 123, 125, 120
01007, Ambronay, 2800, 2763, 2726, 2684, 2615, 2570, 2503, 2437, 2365, 2362, 2328, 2296, 2263, 2241
01008, Ambutrix, 762, 755, 752, 750, 747, 743, 744, 739, 734, 729, 660, 657, 649, 641
01009, Andert-et-Condon, 326, 324, 330, 336, 342, 338, 337, 338, 339, 340, 336, 331, 325, 319
01010, Anglefort, 1105, 1113, 1115, 1124, 1133, 1142, 1108, 1069, 1031, 994, 960, 926, 918, 900
01011, Apremont, 368, 373, 376, 383, 390, 397, 394, 385, 374, 363, 352, 339, 333, 333

In [30]:
file_stream = open("base-pop-historiques-1876-2019.xlsx", "br")
wb = load_workbook(file_stream)
ws = wb.active
headers = ["CODGEO", "LIBGEO"] + [i for i in range(2019, 2005, -1)]
for i, row in enumerate(ws.iter_rows(min_row=1, max_col=16, values_only=True)):
    if i > 3:
        break
    print(dict(zip(headers, row)))

{'CODGEO': 'CODGEO', 'LIBGEO': 'LIBGEO', 2019: 'PMUN19', 2018: 'PMUN18', 2017: 'PMUN17', 2016: 'PMUN16', 2015: 'PMUN15', 2014: 'PMUN14', 2013: 'PMUN13', 2012: 'PMUN12', 2011: 'PMUN11', 2010: 'PMUN10', 2009: 'PMUN09', 2008: 'PMUN08', 2007: 'PMUN07', 2006: 'PMUN06'}
{'CODGEO': '01001', 'LIBGEO': "L'Abergement-Clémenciat", 2019: 779, 2018: 771, 2017: 776, 2016: 767, 2015: 767, 2014: 767, 2013: 767, 2012: 777, 2011: 780, 2010: 784, 2009: 787, 2008: 791, 2007: 804, 2006: 811}
{'CODGEO': '01002', 'LIBGEO': "L'Abergement-de-Varey", 2019: 256, 2018: 253, 2017: 248, 2016: 243, 2015: 241, 2014: 239, 2013: 236, 2012: 235, 2011: 234, 2010: 221, 2009: 207, 2008: 194, 2007: 195, 2006: 198}
{'CODGEO': '01004', 'LIBGEO': 'Ambérieu-en-Bugey', 2019: 14134, 2018: 14204, 2017: 14035, 2016: 14081, 2015: 14127, 2014: 14022, 2013: 14359, 2012: 14233, 2011: 13839, 2010: 13835, 2009: 13350, 2008: 12792, 2007: 12696, 2006: 12709}

In [31]:
Commune.objects.get(name="Paris")